{% extends "bootstrap/base.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<meta name="google-site-verification" content="XkUVI76rPeXT9ms8fMTOFWkCfGm3y9PXzlCUm4Jzkzs" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}
        <link href="{{ url_for('static', filename='css/pre.css') }}" rel="stylesheet">
    {% endblock %}
    <script src="{{ url_for('static', filename='jquery-3.2.0.min.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">All Blogs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                     <li> <a href="{{url_for('main.home')}}">Home</a></li>
                     <li> <a href="{{url_for('main.user_post', user_id=current_user.user_id)}}">{{current_user.info()["user_name"]}}'s' Post</a></li>
                     <li> <a href="{{url_for('main.profile', user_id=current_user.user_id)}}">Profile</a></li>
                     <li> <a href="{{url_for('member.new_post')}}">New Post</a></li>
                     <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                 {% else %}
                     <li><a href="{{url_for('auth.login')}}">Login</a></li>
                     <li><a href="{{url_for('auth.register')}}">Register</a> </li>
                 {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<style media="screen" type="text/css"> </style>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
             <ul class=flashes>
             {% for category, message in messages %}
                 <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
             </ul>
        {% endif %}
    {% endwith %}

    {% block page_content %}

    {% endblock %}
<br>
</br>
</div>
    {% block footer %}
    <div class = "footer">
      <p>This website is built with Python Flask framework and hosted on AWS. Contact information: <a href="mailto:graduateoffer.get@gmail.com">
      graduateoffer.get@gmail.com</a>.</p>
    </div>
    {% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
