{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{title}}{% endblock %}


{% block head %}
{{super()}}
<script>
$(document).ready(function(){

  $(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {

        if( $("#title").text() == "Home") {

           $.get("/more_index", function( my_var ) {
              $( ".pre_blog").last().after(my_var);
               }, 'html');
        }
    

        if( $("#title").text() == "All blogs") {

           $.get("/more_index", function( my_var ) {
              $( ".pre_blog").last().after(my_var);
               }, 'html');
        }



        if( $("#title").text().endsWith("Posts")) {

           $.get("/more_user", function( my_var ) {
              $( ".pre_blog").last().after(my_var);
               }, 'html');
        }





    

    }
});



});
</script>

{% endblock %}


{% block page_content %}
{{super()}}
<div class="page_div">
  <div class="page-header">
      <h1> <font id="title">{{title}}</font></h1>
      {% if title.endswith("Posts") %}
       <font class = "user_profile_link"><a href="{{url_for('main.profile', user_id=user_id)}}">Profile</a></font>
      {% endif %}
  </div>
  {% for blog in result %}
    <div class="pre_blog hover_div">
      <div class="pre_title"> <a href="{{url_for("main.post_byID",post_id=blog["post_id"])}}">{{blog["title"]}}</a> 
      </div>
      <div class="pre_author"> 
      	Author: <a class="author_link" href="{{url_for("main.user_post",user_id=blog["user_id"])}}">{{blog["user_name"]}}</a>
          &#09
      {% if not current_user.id == blog["email"] %}
        {% if current_user.is_following(blog["user_id"]) %}
          <a class="unfollow_link" href="{{url_for("member.un_follow",user_id=blog["user_id"])}}">Unfollow</a>
        {% else %}
          <a class="follow_link" href="{{url_for("member.follow",user_id=blog["user_id"])}}">Follow</a>
        {% endif %}
      {% endif %}
      </div>
      <div class="pre_time">
      {{blog["post_time"]}}
      </div>
      <div class="pre_content">
      {{Markup(markdown.markdown(blog["content"]))}}    
       </div>
    </div>
{% endfor %}
</div>
{% endblock %}
