{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "page.html" as paging %}

{% block title %}{{post["title"]}}{% endblock %}

{% block head %}
{{super()}}
<script>
$(document).ready(function(){

	 $(document).on('click', '.post_reply', function(){
	 $("#reply_to_section").remove();
      $( "#csrf_token").before("<div id=\"reply_to_section\" reply_to_id=" + $(this).attr('user_id')+ "> Reply to <b class=\"reply_to_username\">" + "<input type= \"text\" class=\"reply_to_name\" name=\"reply_to_name\" value=" + $(this).attr('user_name')+ ">" + "</b> <font class=\"reply_to_line\"> remove</font>");
  });

});


$(document).ready(function(){
	 $(document).on('click', '.reply_to_line', function(){
     $("#reply_to_section").remove();
  });

});

</script>

{% endblock %}


{% block page_content %}
<div class="contents">
    <h1>{{post["title"]}} </h1>
     <div class="pre_author">
    	<a class="author_link" href="{{url_for("main.user_post",user_id=post["user_id"])}}">{{post["user_name"]}}</a>
    	&#09 {{post["post_time"]}}
    </div>
    <div class="post_content">
    {{Markup(markdown.markdown(post["content"]))}}   
    </div>
{% if current_user.is_authenticated and current_user.user_id == post["user_id"] %}
<a class="update_post" href="{{url_for("member.edit_post",post_id=post["post_id"])}}">Update post</a>
{% else %}

       {% if current_user.is_following(post["user_id"]) %}
          <a class="unfollow_link" href="{{url_for("member.un_follow",user_id=post["user_id"])}}">Unfollow</a>
        {% else %}
          <a class="follow_link" href="{{url_for("member.follow",user_id=post["user_id"])}}">Follow</a>
        {% endif %}

{% endif %}


	 <div class="comment">
	 <h4> Comments:</h4>
	{% for comment in post["comments"] %}
		<div class="single_comment">
		<div class="comment_time">{{comment["comment_time"]}}</div>
		<div>
		<a class="author_link comment_author" href="{{url_for("main.user_post",user_id=comment["user_id"])}}">{{comment["user_name"]}}</a>:
		{% if comment["reply_to_id"] %}
		@<a class="replied_author_link"  href="{{url_for("main.user_post",user_id=comment["reply_to_id"])}}">{{id_to_username(comment["reply_to_id"])["user_name"]}}</a>
		{% endif %}
		{{Markup(markdown.markdown(comment["comment_content"]))}}
		</div>
				<div class="post_reply" user_name="{{comment["user_name"]}}" user_id="{{comment["user_id"]}}">reply</div>

		</div>
	{% endfor %}
	</div>
	<div class="comment_form">
		{{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}
