{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<script>
$(document).ready(function(){
	$(".page-header").css("min-height","65vh");

	$( ".followed_count" ).click(function() {
  			$( "#followed_users" ).toggle("slow")
	});
	$( ".follower_count" ).click(function() {
  			$( "#follower_users" ).toggle("slow");
	});

});
</script>

{% endblock %}




{% block title %}{{title}}{% endblock %}


{% block page_content %}
<div class="page-header">



    <h1>{{title}} </h1> 
    {{ wtf.quick_form(form) }}
    <p>Email: {{email}}</p>
    <p class="profile_post_count">Post Count: 
    <a class="profile_follow_link" href="{{url_for("main.user_post",user_id=user_id)}}">{{post_count}}</a>
    </p>
    <div>
    	<a href="{{url_for('auth.change_password')}}" class="change_password_link">Change password.</a>  
    </div>
    <div> <font class="followed_count">Following: {{followed_count}}</font>
    <font class="follower_count">Followed by: {{follower_count}}</font>
    </div>

    <div id="followed_users">
	    <h4> Following: </h4>
	    <ol type="1">
	    {% for user_id, user_name, is_following in followed_user %}
				 <li>{{user_name}}
				 {% if is_following and not current_user.user_id == user_id %}
				        <a class="profile_unfollow_link" href="{{url_for("member.un_follow",user_id=user_id)}}">Unfollow</a>
				 {% elif not is_following %}
				          <a class="profile_follow_link" href="{{url_for("member.follow",user_id=user_id)}}">Follow</a>
				  {% endif %}
				 </li>
	    {% endfor %}
	    </ol>
    </div>




    <div id="follower_users">
    <h4> Followed by:</h4>
	    <ol type="1">
	    {% for user_id, user_name, is_following in follower_user %}
				 <li>{{user_name}}
				 {% if is_following and not current_user.user_id == user_id %}
				        <a class="profile_unfollow_link" href="{{url_for("member.un_follow",user_id=user_id)}}">Unfollow</a>
				 {% elif not is_following %}
				          <a class="profile_follow_link" href="{{url_for("member.follow",user_id=user_id)}}">Follow</a>
				  {% endif %}
				 </li>
	    {% endfor %}
	    </ol>
    	
    </div>

</div>
{% endblock %}
